*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  background-color: #D6E9F5;
}

header {
    background-color: white;
    /* border: 3px solid  ; */
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
}

button {
  color: #a7510c;
  background-color: #D5D7D8;
  font-family: "Staatliches", sans-serif;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  letter-spacing: 0.75px;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 60px;
  color: #a7510c;
  display: inline;
  margin-right: 10%;
}

h2 {
  font-family: "Staatliches", sans-serif;
  color: #a7510c;
  display: inline;
}

h3 {
  font-family: "Staatliches", sans-serif;
  padding: 5px 22px;
  letter-spacing: 1px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: -3px;
  width: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-left: 22px;
  color: white;
}

article {
  background-color: #a7510c;
  border-radius: 10px;
}

.sm-icon {
  width: 60px;
  transform: translateY(10%);
  transition: transform 0.5s ease-in-out;
}

.sm-icon:hover {
  transform: rotate(20deg);
}

.container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: 30px;
}

.article-img {
  height: 220px;
  width: 100%;
  margin-top: -20px;
  object-fit: cover;
}

.completed {
    background-color: #a7510c;
    color: white;
}

.not-completed {
  background-color: white;
  color: #a7510c;
}

.todo {
  background-color: white;
}

.todo > p {
  color: #a7510c;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

@media (max-width: 767px) {
    h2 {
    text-align: center;
    display: block;
    margin: -5px 10px;
  }
}
